# dependencies
/node_modules

# Yarn PnP (Zero-Install)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.development
.env.production
uploads/*
!uploads/.gitkeep
